<!DOCTYPE html>
<html>
<head>
    <title>檢視結果 - 裂縫辨識系統</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <p></p>
        <h1>專案瀏覽</h1>
        <p></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>資料夾名稱</th>
                    <th>建立時間</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td><a href="/view?id={{ item.name }}">{{ item.name }}</a></td>
                    <td>{{ item.created_time}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>